.space{
    margin-top: 15px;
    margin-bottom: 15px;
}

.home_page_list{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

    background-color: #4f5f76;
    color: #FAF9F6;
    
    padding: 5px;
    margin-left: 10px;
}

body{
    background-color: #091f36;
    
}

.e1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

    background-color: #4f5f76;
    color: #FAF9F6;

    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: #a4893d;
    
    padding: 5px;
    margin-left: 10px;
    
}

ul {
    list-style-position: inside;
}

ol {
    list-style-position: inside;
}

.image{
    border-style: solid;
    border-color: #FAF9F6;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image_rat{
    border-style: solid;
    border-color: #a4893d;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
}
 .list_border{
    border-style: dotted;
    border-width: 7px;

 }